[submodule "components/kernel"]
	path = components/kernel
	url = https://github.com/SymfonyTunisianWorld/kernel.git
[submodule "components/server"]
	path = components/server
	url = https://github.com/SymfonyTunisianWorld/server.git
[submodule "components/router"]
	path = components/router
	url = https://github.com/SymfonyTunisianWorld/router.git
[submodule "components/config"]
	path = components/config
	url = https://github.com/SymfonyTunisianWorld/config.git
[submodule "modules/app-module"]
	path = modules/app-module
	url = https://github.com/SymfonyTunisianWorld/app-module.git
